{% include 'header.html' %}
<div class="container">
  <h4>File {{ filename }}:</h4>

  <p><a href="{{ url_for('index') }}">Home</a> | Search catalogues: </p>
  <div class="one column"></div>
  <div class="eleven columns">
    {% for catalog in catalogues %}
    <input class="{% if loop.first %}button-primary{% else %}button{% endif %} catalog-selection" type="button" value="{{ catalog }}">
    {% endfor %}
  </div>

  <table class="u-full-width" id="search_results_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Match</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <td id="row-{{ loop.index0 }}">{{ row[0] }}<span class="tooltiptext">{{ row[1] }}</span></td>
        <td></td>
        <td><input class="button-primary row-matching" type="button" name="row-matching" id="match-row-{{ loop.index0 }}" value="Match"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- The Modal -->
<div id="modal_match" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>


    <div class="container" style="margin-left:5%;margin-right:5%;max-width:none;">
      <div class="row"  style="width:100%">
      <div class="one-half column" style="overflow:hidden"><span id="item_to_match"></span></div>
      <div class="one-half column">
        <ul>
          <h4>Match type:</h4>
          <label>
            <input type="radio" name="match_type" value="exact" checked>
            <span class="label-body">Exact match</span>
          </label>
          <label>
            <input type="radio" name="match_type" value="approximate">
            <span class="label-body">Approximate match</span>
          </label>
          <label>
            <input type="radio" name="match_type" value="broader">
            <span class="label-body">Match is broader than query</span>
          </label>
          <label>
            <input type="radio" name="match_type" value="narrower">
            <span class="label-body">Match is narrower than query</span>
          </label>
        </ul>
      </div>
    </div>

      <div class="row" style="width:100%">
        <div class="one-half column">
          <h4>Suggested entries</h4>
          <table id="response_table">
            <tbody>
              <th>Name</th><th>Action</th>
            </tbody>
          </table>
        </div>

        <div class="one-half column">
          <h4>Refine query</h4>
          <form class="form-inline" style="margin: 0 auto;">
              <input id="refine-search-field"
                     type="search"
                     onclick="this.select();"
                     placeholder="Search for products"
                     aria-label="Search"
                     style="width:100%;">
            </form>
        </div>
      </div>
  </div>
  </div>

</div>

<!-- Import JS script -->
<script type="text/javascript">
var catalog = null;

(function set_initial_catalog() {
  catalog = "{{ catalogues[0] }}";
})();

// Catalog selection
var catalog_buttons = document.querySelectorAll(".catalog-selection");
for (i = 0; i < catalog_buttons.length; i++) {
  catalog_buttons[i].addEventListener('click', toggle_catalog_selection);
}

var row_buttons = document.querySelectorAll(".row-matching");
for (i = 0; i < row_buttons.length; i++) {
  row_buttons[i].addEventListener('click', show_modal);
}

function toggle_catalog_selection(button) {
    var all_buttons = document.querySelectorAll('.catalog-selection');
    Array.prototype.forEach.call(all_buttons, function(elements, index) {
        if (button.target.value === elements.value) {
            elements.className = "button-primary catalog-selection";
            catalog = elements.value;
        } else {
            elements.className = "button catalog-selection";
        };
    });
}

function check_exit(row) {
  console.log(row);
}

function query(query_string){
    var opts = {
      method: 'GET',
      headers: {}
    };
    fetch('/get_search_results/'+catalog+'/'+query_string, opts)
    .then(function (response) {
      return response.json();
    })
    .then(function (data) {
        var table = document.getElementById("response_table")

        // Reset table
        var tableRows = table.getElementsByTagName('tr');
        var rowCount = tableRows.length;

        if (rowCount > 0) {
          for (var x=rowCount-1; x>0; x--) {
             table.removeChild(tableRows[x]);
          }
        }

        // row is integer index starting from 0
        for (var row in data) {
          var tr = document.createElement('tr');
          var btn = document.createElement('input');
          btn.className = "button";
          btn.type = "submit";
          btn.value = "Select";
          btn.style = "float:right;margin:5px;";
          // btn.setAttribute('data', body[row][0].toString().slice(0,40));
          // btn.setAttribute('data-origin', item_to_match);
          btn.onclick = check_exit(this);

          var div_label = document.createElement('div');
          div_label.className="tooltip";
          div_label.innerHTML = data[row].name.slice(0,40);

          var tooltip = document.createElement('span')
          tooltip.className = "tooltiptext";
          tooltip.innerHTML = data[row].description;
          div_label.append(tooltip);

          var td_label = document.createElement('td');
          td_label.append(div_label);

          var td_button = document.createElement('td');
          td_button.append(btn);

          tr.append(td_label);
          tr.append(td_button);
          table.append(tr);
        };
    });
};


function show_modal(button){
    var span = document.getElementsByClassName("close")[0];
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    // Select modal
    var modal = document.getElementById('modal_match');

    // Insert titles, etc.
    var row = document.getElementById(button.target.id.replace("match-", ""));
    var row_text = row.textContent;
    var title_span = document.getElementById("item_to_match")
    title_span.innerHTML = "<h4>"+row_text+"</h4>";

    document.getElementById("refine-search-field").value = row_text;

    // Fetch data
    query(row_text);
    // Display modal
    modal.style.display = "block";
    };


function exit_modal(btn){
    var match = btn.getAttribute("data");
    var item_to_search_for = btn.getAttribute("data-origin");
    var table = document.getElementById("search_results_table");

    // Iterate through rows
    for (var i = 0, row; row = table.rows[i]; i++) {
        if (row.cells[0].innerHTML == item_to_search_for){
            row.cells[2].innerHTML = match;
            // Hide modal
            var modal = document.getElementById('modal_match')
            modal.style.display = "none";
            // Send selection to web app
            var payload = {
                'item to match': item_to_search_for,
                'match': match
            };

            var data = new FormData();
            data.append( "json", JSON.stringify(payload) );

            fetch("/file/<hash>/selection",
            {
                method: "POST",
                body: data
            });


            return;
        };
    };

};

// Populate table with search results as the search field is updated.
var table = document.getElementById('search_input');
table.addEventListener('input', function (evt) {
    query(this.value);
});
</script>
{% include 'footer.html' %}
